<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>Calcolatrice</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdditionServlet</servlet-name>
		<servlet-class>com.calcolatrice.jsp.servlet.AdditionServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>SubtractionServlet</servlet-name>
		<servlet-class>com.calcolatrice.jsp.servlet.SubtractionServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>MultiplicationServlet</servlet-name>
		<servlet-class>com.calcolatrice.jsp.servlet.MultiplicationServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>DivisionServlet</servlet-name>
		<servlet-class>com.calcolatrice.jsp.servlet.DivisionServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>AdditionServlet</servlet-name>
		<url-pattern>/addition_servlet</url-pattern>

	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SubtractionServlet</servlet-name>
		<url-pattern>/subtraction_servlet</url-pattern>

	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MultiplicationServlet</servlet-name>
		<url-pattern>/multiplication_servlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DivisionServlet</servlet-name>
		<url-pattern>/division_servlet</url-pattern>

	</servlet-mapping>
</web-app>